doctype html
html(lang='ar') 
 head
  title= 'Receipts List'
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='css/datepicker.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
  script(src='js/bootstrap-datepicker.js')
  script(src='js/date_pick.js')
 body
  h1 فواتير اليوم
  br
  div.form-group(class='col-xs-1')
            label(for='pickyDate') تاريخ اليوم:
            input#pickyDate.form-control(type="text" class="form-control input-md" required)
table.table.table-bordered
  thead
    tr
      th(width= '10%')  التاريخ
      th(width= '20%') اسم الفاتورة
      th(width= '30%') السعر
      th(width= '30%') طريقة الدفع
  tbody
   for receipt in receiptlist
    tr
     td #{receipt.date}
     td #{receipt.type}
     td #{receipt.price}
     td #{receipt.payment_type}
br
h3 المجموع #{sum_price}
h3 المجموع #{total_sales}

  